body {
  font-style: Roboto, sans-serif;
  font-size: 1.5em;
  background-color: burlywood;
  
  text-align: center;
  padding-bottom: 3em;
}

#page-background {
  background: url(/images/poo_background_2.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: "center center";
  /* margin: none; */
}

.arrows-img {
  width: 150px;
  margin-bottom: 75px;
}

.button {
  height: 80px;
  box-shadow: 2px 2px 5px #000; 
  padding: 18px;
  margin: 0 auto;
  font-size: 25px;
}

#buttons {
  padding-bottom: 10px;
}

#start {
  background-color: #CC62AC;
}

#pause {
  background-color: #675B89;
}

#reset {
  background-color: #54DFF4;
}

h3, 
p {
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 8px;
}

h1 {
  color: brown;
  text-shadow: 0px 0px 4px lightblue;
  font-size: 3.5em; 
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 1em;
  margin-bottom: 1em;
}

